<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EvrazPromGroup.Properties.Settings.EvrazUsersConnectionString"
            connectionString="Data Source=DESKTOP-IK91KL6;Initial Catalog=EvrazUsers;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>